.btn-add-cart {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#cart-list-container {
    padding: 20px;
    background: #f9f9f9;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.cart-details-line {
    display: flex;
    justify-content: space-between;
}