body { margin: 0; font-family: Arial, sans-serif; }

/* HEADER & NAV */
header { background: rgb(5, 141, 171); height: 100px; display: flex; justify-content: center; align-items: center; }
h1 { color: rgb(17, 69, 120); margin: 0; }
.navbar { display: flex; justify-content: space-between; align-items: center; padding: 0 20px; height: 60px; border-bottom: 2px solid black; }
.nav-links { list-style: none; display: flex; gap: 20px; padding: 0; }
.nav-links a { text-decoration: none; color: black; font-weight: bold; }
.search-container input { padding: 8px; border: 2px solid black; }

/* HERO (BANNIÈRE) */
.hero {
    border: 2px solid black;
    padding: 60px 20px;
    margin: 20px 50px;
    text-align: center;
    background-color: #fff;
}
.btn-primary {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
}