
header {
  background: rgb(5, 141, 171);
  height: 100px;
}
h1 {
  text-align: center;
  color: rgb(17, 69, 120);
  line-height: 100px;
  margin: 0;
}
.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
